/* ======================= FONT LINKS ========================= */

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Eagle+Lake&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bonheur+Royale&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

/* ======================= common styling ========================= */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: "Josefin Sans", sans-serif;
    font-size: 16px;
}

.container {
    max-width: 1240px;
    padding: 0px 20px;
}

section,
.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
}

ul li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 700px;
    font-weight: 600;
}

button {
    font-family: "Josefin Sans", sans-serif;
    font-size: 16px;
    cursor: pointer;
}

.card-image {
    cursor: pointer;
}

.rating {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rating i {
    padding: 5px;
    color: rgb(255, 205, 42);
}

strong {
    display: block !important;
    margin-bottom: 15px;
}

.strong {
    font-weight: 700;
}

/* ========================= home-page-start ============================== */

/* ===================== header ===================== */

header {
    position: relative;
}

/* ======================== nav-top ======================== */

.nav-top {
    width: 100%;
    height: 40px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: absolute;
    z-index: 100; */
}

.nav-top .container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ======================= navbar ======================= */

.navbar {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    /* position: absolute;
    top: 40px;
    z-index: 100; */
}

.navbar .container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.navbar .container .nav-menu {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 100;
    left: 0%;
    top: 90px;
    display: none;
    cursor: pointer;
    background-color: transparent;
}

.navbar .container .nav-menu .nav-category {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    position: relative;
}

.navbar .container .nav-menu .nav-category ul {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

.navbar .container .nav-menu .nav-category ul li {
    width: 100%;
    margin-bottom: 15px;
    padding: 15px 0;
    border-bottom: 1px solid black;
}

.navbar .container .nav-menu .nav-category ul li a {
    text-transform: uppercase;
    color: black;
}

.navbar .container .nav-menu .nav-category .social-links {
    width: 10%;
    position: absolute;
    top: 90%;
    left: 8.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .container .nav-menu .nav-category .social-links a {
    font-size: 18px;
    color: black;
}

.navbar .container .nav-menu .nav-category .nav-card-layout {
    height: 60%;
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 25px 0;
}

.navbar .container .nav-menu .nav-category .nav-card-layout .nav-card {
    width: 48%;
    height: 60% !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

.navbar .container .nav-menu .nav-category .nav-card .card-heading {
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.navbar .container .nav-menu .nav-category .nav-card .card-heading .head {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
}

.navbar .container .nav-menu .nav-category .nav-card .card-image {
    width: 80%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.navbar .container .nav-menu .nav-category .nav-card .card-image .tee-nav {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar .container .nav-menu .nav-category .nav-card .card-image .tee-nav img {
    height: 100%;
    width: 100%;
}

.navbar .container .nav-menu .nav-category .nav-card .card-content {
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

.navbar .container .nav-menu .nav-category .nav-card .card-content .card-name {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.navbar .container .nav-menu .nav-category .nav-card .card-content .desc {
    font-size: 14px;
    line-height: 1.5;
    margin-top: 0px;
}

.navbar .container .nav-menu .nav-category .nav-card .card-content button {
    background-color: transparent;
    border: none;
    font-size: 16px;
    margin-top: 5px;
    text-transform: capitalize;
    font-weight: 500;
}

.menu {
    width: 10%;
}

.menu-icon {
    display: inline-block;
    cursor: pointer;
    font-size: 20px;
    color: black;
}

.navbar .container .logo {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar .container .logo a {
    width: 100%;
    height: 100%;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    color: rgb(255, 0, 0);
    /* filter: drop-shadow(0 0 4px #ffffff80); */
    text-shadow: 2px 4px white;
    letter-spacing: 2px;
    font-family: "Josefin Sans", sans-serif;
}

.navbar .container .user-option {
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.navbar .container .user-option .search {
    height: 100%;
    font-size: 20px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.navbar .container .user-option .search .search-bar {
    width: 80%;
    height: 50%;
    background-color: transparent;
    position: absolute;
    border: none;
    border-radius: 25px;
    top: 100%;
    left: 10%;
    display: none;
    z-index: 500;
    margin-top: 5px;
}

.navbar .container .user-option .search form input {
    width: 100%;
    height: 80%;
    border: none;
    font-size: 16px;
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar .container .user-option .search form input[type=text] {
    text-align: center;
    font-family: "Josefin Sans", sans-serif;
    width: 80%;
    border-radius: 25px;
}

.navbar .container .user-option .search form input::placeholder {
    font-size: 16px;
    font-family: "Josefin Sans", sans-serif;
    text-transform: capitalize;
    letter-spacing: 1.5px;
    color: black;
    opacity: 0.7;
}

.navbar .container .user-option .cart {
    font-size: 20px;
    color: black;
}

.navbar .container .user-option .account a {
    font-size: 20px;
    color: black;
}

/* ================= log-in-form ================= */

.navbar .account .log-in-form{
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    position: absolute;
    z-index: 2;
    top: 20px;
    left: 25%;
    background: linear-gradient(rgb(255, 255, 255), rgb(216, 216, 216));
    padding: 40px 0;
    display: none;
    max-height: 520px;
    overflow-y: scroll;
    border: 1px solid black;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
}

.navbar .account .log-in-form .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-attachment: scroll;
    
}

.navbar .account .log-in-form .heading {
    width: 70%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    padding: 10px 0;
    position: relative;
}

.navbar .account .log-in-form .heading .close {
    position: absolute;
    left: 100%;
    top: -15%;
}

.navbar .account .log-in-form .heading .head {
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 15px;
}

.navbar .account .log-in-form .heading p {
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
}

.navbar .account .log-in-form .log-in {
    width: 70%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.navbar .account .log-in-form .log-in .email {
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    padding-bottom: 20px;
}

.navbar .account .log-in-form .log-in .email label {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}

.navbar .account .log-in-form .log-in .email input {
    width: 100%;
    height: 50px;
}

.navbar .account .log-in-form .log-in .password {
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    padding-bottom: 20px;
}

.navbar .account .log-in-form .log-in .password label {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}

.navbar .account .log-in-form .log-in .password input {
    width: 100%;
    height: 50px;
}

.navbar .account .log-in-form .log-in .help-btn {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .account .log-in-form .log-in .help-btn .remember {
    display: flex;
    justify-content: start;
    align-items: center;
}

.navbar .account .log-in-form .log-in .help-btn .remember input{
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.navbar .account .log-in-form .log-in .help-btn .remember label {
    font-size: 16px;
}

.navbar .account .log-in-form .log-in .help-btn .forgot-password a{
    font-size: 16px;
    text-decoration: underline;
}

.navbar .account .sign-in-register-btn {
    width: 90%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 25px 0;
}

.navbar .account .sign-in-register-btn .sign-in {
    background-color: black;
    color: white;
    font-weight: 700;
    width: 78%;
    height: 60px;
    margin-bottom: 20px;
    font-size: 20px;
    border: none;
}

.navbar .account .sign-in-register-btn .sign-up {
    background-color: white;
    width: 78%;
    height: 60px;
    font-size: 20px;
    font-weight: 700;
    border: 2px solid black;
}

.navbar .account .member-head{
    font-size: 14px !important;
}

.navbar .account .sign-up-form{
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column !important;
    justify-content: start !important;
    align-items: center !important;
    position: absolute;
    z-index: 2;
    top: 20px;
    left: 25%;
    background: linear-gradient(rgb(255, 255, 255), rgb(216, 216, 216));
    padding: 40px 0;
    display: none;
    max-height: 520px;
    overflow-y: scroll;
    border: 1px solid black;
}

.navbar .account .sign-up-form .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-attachment: scroll;
}

.navbar .account .sign-up-form .heading {
    width: 80%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    padding: 10px 0;
    position: relative;
}

.navbar .account .sign-up-form .heading .close {
    position: absolute;
    left: 100%;
    top: -15%;
}

.navbar .account .sign-up-form .heading .head {
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 15px;
}

.navbar .account .sign-up-form .heading p {
    font-size: 18px;
    line-height: 1.5;
}

.navbar .account .sign-up-form .sign-up {
    width: 80%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.navbar .account .sign-up-form .sign-up .email {
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    padding-bottom: 20px;
}

.navbar .account .sign-up-form .sign-up .email label {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}

.navbar .account .sign-up-form .sign-up .email input {
    width: 100%;
    height: 50px;
}

.navbar .account .sign-up-form .sign-up .password {
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    padding-bottom: 20px;
}

.navbar .account .sign-up-form .sign-up .password label {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}

.navbar .account .sign-up-form .sign-up .password input {
    width: 100%;
    height: 50px;
}

.navbar .account .sign-up-form .sign-up .f-name {
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    padding-bottom: 20px;
}

.navbar .account .sign-up-form .sign-up .f-name label {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}

.navbar .account .sign-up-form .sign-up .f-name input {
    width: 100%;
    height: 50px;
}

.navbar .account .sign-up-form .sign-up .dob {
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    padding-bottom: 20px;
}

.navbar .account .sign-up-form .sign-up .dob label {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}

.navbar .account .sign-up-form .sign-up .dob input {
    width: 100%;
    height: 50px;
}

.navbar .account .sign-up-form .sign-up .l-name {
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    padding-bottom: 20px;
}

.navbar .account .sign-up-form .sign-up .l-name label {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}

.navbar .account .sign-up-form .sign-up .l-name input {
    width: 100%;
    height: 50px;
}

.navbar .account .sign-up-form .sign-up .phone {
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    padding-bottom: 20px;
}

.navbar .account .sign-up-form .sign-up .phone label {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}

.navbar .account .sign-up-form .sign-up .phone input {
    width: 100%;
    height: 50px;
}


.navbar .account .sign-up-form .sign-up .help-btn {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar .account .sign-up-form .sign-up .help-btn .agree-check {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 20px;
}

.navbar .account .sign-up-form .sign-up .help-btn .agree-check input{
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.navbar .account .sign-up-form .sign-up .help-btn .agree-check label {
    font-size: 14px;
}

.navbar .account .sign-up-form .sign-up .help-btn .disclaim {
    font-size: 14px;
    color: gray;
    line-height: 1.5;
}

.navbar .account .sign-up-form .sign-up .help-btn .disclaim a {
    font-size: 14px;
    text-decoration: underline;
}

.navbar .account .sign-up-register-btn {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 25px 0;
}

.navbar .account .sign-up-register-btn .sign-up {
    background-color: black;
    color: white;
    font-weight: 700;
    width: 78%;
    height: 60px;
    margin-bottom: 20px;
    font-size: 20px;
    border: none;
}

.navbar .account .sign-up-register-btn .sign-in {
    background-color: white;
    width: 78%;
    height: 60px;
    font-size: 20px;
    font-weight: 700;
    border: 2px solid black;
}

.navbar .account a {
    font-size: 20px;
    margin-top: 20px;
    text-decoration: underline;
}

.navbar .account input[type=text] {
    padding: 0 20px;
    font-size: 16px;
    font-family: "Josefin Sans", sans-serif;
}

.navbar .account input[type=email] {
    padding: 0 20px;
    font-size: 16px;
    font-family: "Josefin Sans", sans-serif;
}

.navbar .account input[type=password] {
    padding: 0 20px;
    font-size: 16px;
    font-family: "Josefin Sans", sans-serif;
}

.navbar .account input[type=number] {
    padding: 0 20px;
    font-size: 16px;
    font-family: "Josefin Sans", sans-serif;
}

/* ====================== banner =========================== */

.banner {
    height: 600px;
    width: 100%;
    position: relative;
}

/* ==================== banner-swiper ====================== */

.banner .swiper {
    width: 100% !important;
    height: 100% !important;
    position: absolute;
    z-index: 0;
    /* filter: brightness(0.2) !important; */
    overflow: hidden !important;
}

.banner .swiper .swiper-wrapper {
    width: 100% !important;
    height: 100% !important;
}

.banner .swiper-slide {
    width: 100% !important;
    height: 100% !important;
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden !important;
}

.banner .swiper-slide .card-image {
    width: 100% !important;
    height: 100% !important;
    position: absolute !important;
    z-index: -1 !important;
    filter: brightness(0.80);
}

.banner .swiper-slide .card-image figure {
    width: 100%;
    height: 100%;
}

.banner .swiper-slide .card-image figure img {
    width: 100%;
}

.banner .swiper-slide .card-content {
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner #winter .card-content h1 {
    font-size: 120px;
    color: transparent;
    background-image: linear-gradient(rgba(117, 255, 227, 0.9) , rgba(218, 234, 255, 0.9));
    background-clip: text;
    text-transform: capitalize;
}

.banner #winter .card-content h2 {
    font-size: 50px;
    color: transparent;
    background-image: linear-gradient(rgba(117, 255, 227, 0.9) , rgba(218, 234, 255, 0.9));
    background-clip: text;
    text-transform: uppercase;
}

.banner #women .card-content h1 {
    font-size: 120px;
    color: transparent;
    background-image: linear-gradient(rgba(255, 115, 183, 0.9) , rgba(207, 0, 225, 0.9));
    background-clip: text;
    text-transform: uppercase;
}

.banner #kid .card-image {
    filter: brightness(0.75);
}

.banner #kid .card-content h1 {
    font-size: 120px;
    color: transparent;
    background-image: linear-gradient(rgba(211, 230, 0, 0.9) , rgba(255, 223, 41, 0.9));
    background-clip: text;
    text-transform: uppercase;
}

.banner #kid .card-content p{
    font-size: 80px;
    color: white;
}

.banner .swiper-pagination {
    display: none;
}

.banner .row {
    width: 100%;
    height: 100%;
}



/* ========================== clothing ============================ */

.clothing {
    width: 100%;
    height: 1000px;
    background-color: white;
}

.clothing .row {
    width: 100%;
    height: 100%;
    columns: 2;
    column-gap: 0;
    flex-wrap: wrap;
}

.clothing .row .card{
    width: 50%;
    height: 33%;
    overflow: hidden;
    filter: grayscale(1);
    transition: all 1s ease;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: start;
    
}

.clothing .row .card:hover{
    filter: grayscale(0);
}

.clothing .row #men {
    width: 50%;
    height: 50% !important;
}

.clothing .row #women {
    width: 50%;
    height: 50% !important;
}

#kids {
    width: 100%;
    height: 50% !important;
}

/* .kids figure img {
    height: 100%;
} */

.clothing .row .card .card-image {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}

#kids .card-content {
    height: 60%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    animation: slide-left 1s linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

@keyframes slide-left {
    0% {
        transform: translateX(50%);
    }
    100% {
        transform: translateX(0%);
    }
}

#kids .card-content h4{
    font-size: 40px;
    padding-bottom: 20px;
    filter: drop-shadow(0 0 4px black);
}

.clothing .row .card .card-content {
    width: 100%;
    height: 18%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    padding: 0 20px;
}

.clothing .row .card .card-content h4{
    font-size: 30px;
    color: red;
    font-weight: 700;
}

.clothing .row .card .card-content button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    font-weight: 900;
    color: red;
    border-bottom: 1px solid black;
    padding: 10px 0;
}

.clothing .row .card .card-content button i{
    padding-left: 10px;
}

.clothing .row .card .card-image figure {
    width: 100%;
    height: 100%;
}

.clothing .row .card .card-image figure img {
    width: 100%;
}


/* ====================== announcements ======================= */

.announcements {
    width: 100%;
    height: 600px;
    position: relative;
    background: transparent;
    padding: 0 !important;
    margin: 0 !important;

}

.announcements .row {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.announcements .row .content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.announcements .row .content .swiper p {
    font-size: 30px;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.6);
    letter-spacing: 4px;
    text-transform: uppercase;
    display: none;
}

/* =========================== collection-duo ============================= */

.collection-duo {
    width: 100%;
    height: 600px;
    background-color: transparent;
}

.collection-duo .row {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.collection-duo .row .collection-part {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    /* transition: all 0.5s ease; */
}

/* .collection-duo .row .collection-part :hover{
    box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.3);
} */

.collection-duo .row .collection-part .card-video {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    filter: brightness(1);
}

.collection-duo .row .collection-part .card-content {
    width: 100%;
    height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 20px;
}

.collection-duo .row #part-1 .card-video{
    filter: brightness(0.9);
}

.collection-duo .row #part-1 .card-video video {
    width: 100%;
    
}

.collection-duo .row #part-1 .card-content h3 {
    font-size: 80px;
    text-transform: capitalize;
    letter-spacing: 2px;
    font-weight: 700;
    line-height: 1.5;
    color: transparent;
    text-align: center;
    background-image: linear-gradient(to right, rgb(255, 255, 255), rgb(183, 183, 183));
    -webkit-background-clip: text;
    /* filter: drop-shadow(2px 0px 4px black); */
}

.collection-duo .row #part-2 .card-video video {
    width: 100%;
}

.collection-duo .row #part-2 .card-content {
    height: 60%;
    justify-content: center;
    align-items: center;
}

.collection-duo .row #part-2 .card-content h3 {
    font-size: 80px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 500;
    line-height: 1.5;
    background-image: linear-gradient(to right, rgb(7, 0, 52), rgb(0, 0, 0));
    -webkit-background-clip: text;
    /* text-shadow: 2px 2px white; */
    text-align: center;
    font-family: "Playfair Display", serif;
    /* font-style: italic; */
}

.collection-duo .row .collection-part .card-content p {
    font-size: 20px;
    letter-spacing: 1px;
    width: 100%;
    color: white;
    text-align: center;
}

.collection-duo .row #part-1 .card-content button {
    position: absolute;
    top: 88%;
    left: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    font-size: 25px;
    color: white;
}

.collection-duo .row #part-2 .card-content button {
    position: absolute;
    top: 88%;
    left: 73%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    font-size: 25px;
    color: transparent;
    background-image: linear-gradient(to left, rgb(0, 0, 0), rgb(0, 0, 0));
    background-clip: text;
}

.collection-duo .row #part-1 .card-content button i{
    background-color: transparent;
    font-size: 20px;
    letter-spacing: 1px;
    margin-left: 10px;
    color: rgb(255, 255, 255);
}

.collection-duo .row #part-2 .card-content button i{
    background-color: transparent;
    font-size: 20px;
    letter-spacing: 1px;
    margin-left: 10px;
    color: rgb(0, 0, 0);
}

/* ========================== subscribe ============================ */

.newsletter {
    width: 100%;
    height: 300px;
    background-color: black;
}

.newsletter .container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.newsletter .container .row {
    width: 70%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.newsletter .container .row .heading {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

.newsletter .container .row .heading h2 {
    font-size: 30px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
}

.newsletter .container .row .heading p {
    font-size: 18px;
    color: white;
    letter-spacing: 1px;
    line-height: 1.5;
}

.newsletter .container .row .email-form {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.newsletter .container .row .email-form form {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.newsletter .container .row .email-form form input {
    width: 40%;
    height: 60%;
    background-color: transparent;
    border: 1px solid white;
    position: relative;
}

.newsletter .container .row .email-form form input::placeholder {
    font-family: "Josefin Sans", sans-serif;
    font-size: 18px;
    letter-spacing: 2px;
}

.newsletter .container .row .email-form form input[type=email] {
    font-size: 18px;
    letter-spacing: 1px;
    padding-left: 20px;
    color: white;
    font-family: "Josefin Sans", sans-serif;

    button {
        color: black;
    }
}

.newsletter .container .row .email-form button {
    color: white;
    position: absolute;
    left: 65%;
    background-color: transparent;
    border: none;
    font-size: 24px;
}

.newsletter .container .row .email-form p {
    color: rgb(0, 198, 69);
    display: none;
}

/* ========================= about ============================= */

.about {
    background-color: white;
    /* Light gray background */
    padding: 50px 0;
    width: 100%;
    height: 400px;
    background-color: rgb(0, 0, 0);
    background-repeat: no-repeat;
    background-size: cover;

}

.about .container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about .container .row {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about .container .row .about-card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    color: white;
}

.about .container .row .about-card h2 {
    height: 20%;
    width: 100%;
    text-align: center;
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.about .container .row .about-card p {
    width: 100%;
    font-size: 18px;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 500;
    letter-spacing: 1.5px;
    line-height: 2;
}

/* ======================= reviews ========================= */

.reviews {
    width: 100%;
    height: 900px;
    padding-bottom: 50px;
    background-color: black;
}

.reviews .container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reviews .container .row {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.reviews .container .row .heading {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reviews .container .row .heading h2 {
    font-size: 50px;
    color: white;
}

.reviews .container .row .content {
    width: 100%;
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.reviews .container .row .content .swiper {
    width: 100%;
    height: 70% !important;
}

.reviews .container .row .content .swiper .swiper-wrapper {
    width: 100%;
    height: 100%;
    padding: 10px;
}

.reviews .container .row .content .swiper .swiper-wrapper .swiper-slide {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-radius: 20px;
    background-color: transparent;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.3);
    padding: auto 0;
    transition: all 0.5s ease;
}

.reviews .container .row .content .swiper .swiper-wrapper .swiper-slide:hover {
    background-color: white;
    .card-content h3{
        color: black;
    }
    .card-content p{
        color: black;
    }
}

.reviews .container .row .content .swiper .swiper-wrapper .swiper-slide .card-image {
    height: 10%;
    display: none !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reviews .container .row .content .swiper .swiper-wrapper .swiper-slide .card-image figure {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reviews .container .row .content .swiper .swiper-wrapper .swiper-slide .card-image figure img {
    height: 100%;
}

.reviews .container .row .content .swiper .swiper-wrapper .swiper-slide .card-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 15% 0;
}

.reviews .container .row .content .swiper .swiper-wrapper .swiper-slide .card-content h3 {
    font-size: 22px;
    margin-bottom: 35px;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
}

.reviews .container .row .content .swiper .swiper-wrapper .swiper-slide .card-content p {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin-bottom: 20px;
    line-height: 1.5;
    color: white;
}

.reviews .container .row .content .write-review {
    width: 80%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
}

.reviews .container .row .content .write-review h3 {
    font-size: 30px;
    text-transform: uppercase;
    color: white;
}

.reviews .container .row .content .write-review p {
    font-size: 18px;
    text-align: center;
    font-weight: 500;
    line-height: 1.5;
    color: white;
}

.reviews .container .row .content .write-review .write-review-btn {
    background-color: rgb(255, 255, 255);
    border: none;
    padding: 15px 25px;
    color: black;
    border-radius: 10px;
    letter-spacing: 2px;
    position: relative;
    font-size: 18px;
}

.reviews .container .row .content .write-review .cancel-btn {
    position: absolute;
    top: 95%;
    z-index: 4;
    padding: 14px 60px;
    display: none;
}

.reviews .container .row .content .review-box {
    width: 80%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 55%;
    z-index: 1;
    background-color: rgb(225, 225, 225);
    display: none;
    border-radius: 15px;
    box-shadow: 0px 0px 8px rgb(101, 101, 101);
}

.reviews .container .row .content .review-box form {
    width: 100%;
    height: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 10px;

}

.reviews .container .row .content .review-box form input {
    width: 60%;
    height: 100%;
    border-radius: 15px;
    border: none;
    background-color: rgb(250, 250, 250);
    display: flex;
    justify-content: center;
    align-items: center;
}

.reviews .container .row .content .review-box form input::placeholder {
    font-size: 18px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: capitalize;
    font-family: "Josefin Sans", sans-serif;
    color: rgb(0, 0, 0);
}

.reviews .container .row .content .review-box form input[type=text] {
    font-size: 18px;
    padding: 0px 20px;
    font-family: "Josefin Sans", sans-serif;
    color: rgb(0, 0, 0);
}

.reviews .container .row .content .review-box .rating i {
    color: rgb(171, 171, 171);
    cursor: pointer;
}

.reviews .container .row .content .review-box .button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.reviews .container .row .content .review-box button {
    background-color: white;
    border: 1px solid black;
    color: black;
    padding: 7px 25px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ======================= footer ========================== */

footer {
    font-family: "Josefin Sans", sans-serif;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)) , url(../IMG/footer-bg.webp) no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ====================== footer-top ========================= */

.footer-top {
    width: 100%;
    height: 700px;
    background-color: transparent;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-top .container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-top .container .row {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.footer-top .container .row .logo {
    width: 10%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.footer-top .container .row .logo img {
    width: 100%;
    filter: brightness(2);
}

.footer-top .container .row .footer-menu {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-top .container .row .footer-menu .footer-sub-menu {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 4% 0;
}

.footer-top .container .row .footer-menu .footer-sub-menu .head {
    font-size: 18px;
    color: white;
    padding-bottom: 40px;
    line-height: 2;
}

.footer-top .container .row .footer-menu .footer-sub-menu ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-top .container .row .footer-menu .footer-sub-menu ul li {
    padding-bottom: 20px;
}

.footer-top .container .row .footer-menu .footer-sub-menu ul li a {
    color: white;
    font-weight: normal;
}

.footer-top .container .row .footer-menu-end {
    width: 25%;
    height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-top .container .row .footer-menu-end .social-menu {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-top .container .row .footer-menu-end .social-menu ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-top .container .row .footer-menu-end .social-menu ul li a {
    font-size: 28px;
    color: white;
}

.footer-top .container .row .footer-menu-end .review-data {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-top .container .row .footer-menu-end .review-data .footer-rating {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-top .container .row .footer-menu-end .review-data .footer-rating p {
    font-size: 24px;
    color: white;
}

.footer-top .container .row .footer-menu-end .review-data .footer-rating .rating {
    display: flex;
    justify-content: center !important;
    align-items: center;
}

.footer-top .container .row .footer-menu-end .review-data .footer-rating .rating i {
    margin: 0 !important;
    padding: 1px;
}

.footer-top .container .row .footer-menu-end .review-data p {
    font-size: 18px;
    color: white;
}

/* ======================= footer-bottom ======================== */

.footer-bottom {
    background-color: transparent;
    height: 180px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.footer-bottom .container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-bottom .container .row {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    border-top: 1px solid white;
}

.footer-bottom .container .row ul {
    width: 80%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-bottom .container .row ul li a {
    font-size: 18px;
    color: white;
    text-transform: capitalize;
}

.footer-bottom .container .row p {
    height: 50%;
    font-size: 20px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
}















/* ======================= swiper js styling ========================= */

.nav-top .swiper {
    width: 100%;
    height: 100%;
    background-color: transparent !important;
}

.nav-top .swiper .swiper-wrapper {
    width: 100% !important;
}

.nav-top .swiper-slide {
    text-align: center;
    font-size: 14px !important;
    background: transparent !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-top .swiper-slide p {
    display: block;
    color: white !important;
    text-align: center !important;
    letter-spacing: 1px !important;
}

.nav-top .swiper-pagination {
    display: none !important;
}

/* ========================= announcement swiper css =========================== */

.reviews .swiper {
    width: 100%;
    height: 100%;
}

.reviews .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reviews .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.reviews .swiper-pagination {
    display: none !important;
}

.announcements .swiper {
    width: 100% !important;
    height: 100% !important;
    background-color: transparent !important;
    position: relative;
}

.announcements .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: transparent !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.announcements #luxe {
    background: url(../IMG/collection-banner.webp) !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
}

.announcements #luxe h2 {
    width: 100%;
    font-family: "Playfair Display", serif !important;
    font-size: 50px !important;
    font-style: italic;
    text-align: center !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
}

.announcements #luxe button {
    background-color: black !important;
    border: none !important;
    color: white !important;
    padding: 12px 25px;
    margin-top: 30px;
    font-size: 20px;
}

.announcements #elegance {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../IMG/jewellery.webp) !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
}

.announcements #elegance h2 {
    width: 80%;
    font-size: 120px;
    color: transparent;
    background-image: linear-gradient(to right, rgb(255, 203, 129), rgb(255, 162, 104));
    -webkit-background-clip: text;
    font-family: "Bonheur Royale", cursive;
    font-weight: normal;
    letter-spacing: 2px;
}

.announcements #elegance p {
    font-size: 30px;
    letter-spacing: 4px;
    color: rgb(255, 235, 161);
    font-family: "Playfair Display", serif !important;
}

.announcements #elegance button {
    background-color: white;
    border: none !important;
    color: black !important;
    padding: 12px 25px;
    margin-top: 30px;
    font-size: 20px;
}

.capital {
    display: block !important;
    text-transform: uppercase !important;
    font-style: normal !important;
    width: 20%;
    text-align: center !important;
    font-size: 70px;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;

}

.announcements .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.announcements .swiper-pagination {
    display: none;
    position: absolute !important;
    top: 90% !important;
}

.announcements .swiper-pagination .swiper-pagination-bullet {
    background-color: red;
}

.announcements .swiper-pagination .swiper-pagination-bullet-active {
    background-color: red;
    width: 16px !important;
    height: 16px !important;
}

/* ==================== shoe-banner ===================== */

.footwear {
    width: 100%;
    height: 600px;
}

.footwear .row {
    width: 100%;
    height: 100%;
}

.footwear .swiper {
    width: 100% !important;
    height: 100% !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;

}

.footwear .swiper .swiper-wrapper {
    width: 100% !important;
    height: 100% !important;
    position: relative !important;
}

.footwear .swiper .swiper-wrapper #women {
    width: 50% !important;
    height: 100% !important;
    text-align: center;
    font-size: 18px;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    background: url(../IMG/women-shoe.webp) no-repeat !important;
    background-size: 100% !important;
}

.footwear .swiper .swiper-wrapper #men {
    width: 50% !important;
    height: 100% !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    background: url(../IMG/men-shoe.webp) no-repeat !important;
    background-size: 100% !important;
}

.footwear .swiper .swiper-wrapper .swiper-slide h3 {
    width: 100% !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
}

.footwear .swiper .swiper-wrapper .swiper-slide h3 .capital {
    margin-top: 15px;
}

.footwear #men h3 {
    color: white !important;
}

.footwear #men .capital {
    color: white !important;
}

.footwear #men button {
    color: black !important;
    background-color: white !important;
    padding: 12px 25px !important;
    margin-top: 30px !important;
    font-size: 20px !important;
    border: none !important;
    transition: all 0.5s ease;
}

.footwear #men button:hover {
    color: white !important;
    background-color: black !important;
}

.footwear #women button {
    background-color: black !important;
    border: none !important;
    color: white !important;
    padding: 12px 25px !important;
    margin-top: 30px !important;
    font-size: 20px !important;
    transition: all 0.5s ease;
}

.footwear #women button:hover {
    color: black !important;
    background-color: white !important;
}

.footwear .swiper-pagination {
    display: none !important;
    position: absolute !important;
    z-index: 5 !important;
    top: 90% !important;
}

.footwear .swiper-pagination .swiper-pagination-bullet {
    background-color: red;
}

.footwear .swiper-pagination .swiper-pagination-bullet-active {
    background-color: rgb(0, 0, 0);
    width: 16px !important;
    height: 16px !important;
}


/* ====================== about swiper css ======================== */

.about .swiper {
    width: 100%;
    height: 100% !important;
    background-color: transparent !important;
}

.about .swiper .swiper-wrapper {
    height: 100% !important;
    width: 100% !important;
}

.about .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: transparent !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about .swiper-pagination {
    display: none;
}

/* ========================== home-page-end ========================== */